# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/*.log

# Ignore other unneeded files.
*~
*.dump
*.swp

.DS_Store
.project
.pryrc
.rbenv-gemsets
.rspec
.sass-cache

/coverage/
/nbproject/
/spec/examples.txt
/vendor/bundle

.env

/db/seeds.rb