<div class="content-wrapper">
  <section class="content-header">
    <h1>500 Error - Internal Server Error.</h1>
  </section>

  <section class="content-body">
    <div class="box-wrapper">
      <div class="box-body">
        <p>申し訳ございません。</p>

        <p>システムエラーが発生しております。</p>
        <p>お手数ですがしばらく時間を置いてから再度お試しください。</p>
      </div>
    </div><!-- .box-wrapper -->
  </section>
</div><!-- .content-wrapper -->
