<div class="content-wrapper">
  <section class="content-header">
    <h1>404 Error - File Not Found.</h1>
  </section>

  <section class="content-body">
    <div class="box-wrapper">
      <div class="box-body">
        <p>申し訳ございません。</p>

        <p>お探しのページは見つかりませんでした。</p>
        <p>ご指定のページは移動されたかURLが間違っている可能性があります。</p>
      </div>
    </div><!-- .box-wrapper -->
  </section>
</div><!-- .content-wrapper -->
