<div class="content-wrapper">
  <section class="content-header">
    <h1>422 Error - Unprocessable Entity.</h1>
  </section>

  <section class="content-body">
    <div class="box-wrapper">
      <div class="box-body">
        <p>申し訳ございません。</p>

        <p>お探しのページはアクセスすることができませんでした。</p>
      </div>
    </div><!-- .box-wrapper -->
  </section>
</div><!-- .content-wrapper -->
